body {
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(245, 75%, 52%);
}

.top-image{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.order-summary-component{
	width: 450px;
	background-color: white;
	text-align: center;
	border-radius: 15px;
	margin: 1%  auto auto;
}

.heading{
	font-weight: 900;
	font-size: 22px;
	color: hsl(223, 47%, 23%);
}

.content{
	padding: 30px 50px;
}

.body-text{
	color: hsl(224, 23%, 55%);
	line-height: 1.5;
	margin-top: 15px;
}

.price-text{
	color: hsl(224, 23%, 55%);
	font-size: 13px;
}

.change{
	color: hsl(245, 75%, 52%);
	font-size: 13px;
	text-decoration: underline;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}

.change:hover{
	text-decoration: none;
	color: hsl(224, 23%, 55%);
	cursor: pointer;
}

.annual-plan{
	background-color: hsl(225, 100%, 98%);
	padding: 15px 0px;
	margin-top: 15px;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
}

.annual-plan-text{
	color: hsl(223, 47%, 23%);
	font-weight: 900;
	font-size: 14px;
}

.cancel-order{
	color: hsl(245, 75%, 52%);
	font-size: 14px;
	font-weight: 700;
	margin-top: 15px;
}

.cancel-order:hover{
	color: hsl(223, 47%, 23%);
	cursor: pointer;
}

.music-icon{
	width: 40px;
	float: left;
	margin-right: 15px;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  width: 100%;
  padding: 12px 0px;
  margin-top: 15px;
  color: hsl(225, 100%, 98%);
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.myButton:hover {
  background: linear-gradient(
    to bottom,
    hsl(245, 75%, 52%) 1%,
    hsl(224, 23%, 55%) 100%
  );
  background-color: hsl(224, 23%, 55%);
}
